<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Pulse Compiler (Rust)" Language="1033" Version="0.1.2.0" Manufacturer="Pulse Contributors" UpgradeCode="7a8e52db-5d07-4bb1-a67b-123456789abc">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="MainFeature" Title="Pulse CLI" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="AddToPath" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="Pulse">
                    <Directory Id="BIN_DIR" Name="bin" />
                </Directory>
            </Directory>
        </Directory>

        <ComponentGroup Id="ProductComponents" Directory="BIN_DIR">
            <Component Id="cmp_pulse_cli" Guid="1a2b3c4d-5e6f-7a8b-9c0d-1234567890ab">
                <File Id="fil_pulse_cli" Source="..\..\target\release\pulse_cli.exe" KeyPath="yes" />
            </Component>
        </ComponentGroup>

        <DirectoryRef Id="BIN_DIR">
            <Component Id="AddToPath" Guid="98765432-10ab-cdef-1234-567890abcdef">
                <CreateFolder />
                <Environment Id="PATH" Name="PATH" Value="[BIN_DIR]" Permanent="yes" Part="last" Action="set" System="yes" />
            </Component>
        </DirectoryRef>
    </Product>
</Wix>
