<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Pulse Compiler (Self-hosted)" Language="1033" Version="0.1.2.0" Manufacturer="Pulse Contributors" UpgradeCode="abcdef12-3456-7890-abcd-ef1234567890">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="MainFeature" Title="Pulse Self-hosted Compiler" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="AddToPath" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="PulseSelfHosted">
                    <Directory Id="BIN_DIR" Name="bin" />
                </Directory>
            </Directory>
        </Directory>

        <ComponentGroup Id="ProductComponents" Directory="BIN_DIR">
            <Component Id="cmp_pulse_selfhost" Guid="fdecba09-8765-4321-fedc-ba0987654321">
                <File Id="fil_pulse_selfhost" Source="..\..\self-hosted\pulse.exe" KeyPath="yes" />
            </Component>
        </ComponentGroup>

        <DirectoryRef Id="BIN_DIR">
            <Component Id="AddToPath" Guid="abcdef12-10ab-cdef-1234-567890abcdef">
                <CreateFolder />
                <Environment Id="PATH" Name="PATH" Value="[BIN_DIR]" Permanent="yes" Part="last" Action="set" System="yes" />
            </Component>
        </DirectoryRef>
    </Product>
</Wix>
